# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native builds
ios/Pods/
ios/build/
ios/.xcode.env.local
ios/DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
android/.gradle/
android/build/
android/app/build/
android/app/release/
android/local.properties
android/.idea/
android/captures/
*.keystore
!debug.keystore

# Metro
.metro-health-check*

# EAS / native config
google-services.json
GoogleService-Info.plist

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*
!.env.example
